.header { background: $head-bg; 
background-color: $tee;
background-image: url(/images/pattern.png);
background-attachment: fixed;
//background-size:1700px 900px;
background-size:150%;
}

.header-inner { position: relative; 
}


@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";
